.section-2 {
    display: flex;
    background-color: #1A1A38;
    padding: 5% 0;
    
}

.title-2 {
    position: absolute;
    top: 110vh;
    left: 25%;
    font-family: 'Lato';
    font-weight: 800;
    font-size: 5.27vh;
    color: #fff;
}

.section-2 aside {
    margin-top: 15%;
    display: block;
    margin-left: 10%;
}

.section-2 aside:nth-child(2) {
    border-right: 1px solid #fff;
    
}

.section-2 aside .img {
    margin-left: 20%;
    color: #fff;
}

#img-user:nth-child(1) {
    filter:invert(100%)

}

.section-2 aside p {
    width: 50%;
    font-family: 'Monserrat';
    color: #fff;
    font-style: normal;
    font-size: 2.83vh;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    text-justify: inter-word;
}

.section-2 aside p :nth-child(1) {
    margin-left: 5%;
}

.section-2 aside p span {
    font-weight: 800;
}

